<%- include("partials/header") -%>

<h1>Home</h1>

<div class="" id="homeStartingContent">

<p><%= homeStartingContent %></p>

<% posts.forEach(function(entry) { %>
<h1> <%= entry.title; %> </h1>
<p> <%= entry.item.substring(0, 99) + "..."; %> <a href="/posts/ <%= entry.title; %> ">Read More</a></p>
  <% }); %>

</div>

<%- include("partials/footer") -%>
